#frontmappage {
	
}

.scale-line {
	position: fixed;
	bottom: 5%;
	left: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
	background: rgba(0, 0, 0, 0.7);
	border-radius: 2px;
	box-sizing: border-box;
	border-bottom: 1px solid transparent;
	transition-property: background, box-shadow;
	transition-duration: 0.3s;
	padding-top: 4px;
	padding-bottom: 4px;
	z-index: 9999;
}

.legend-type {
	position: fixed;
	bottom: 5%;
	right: 10px;
	height: 27px;
	margin: 0 auto;
	width: 408px;
	color: #F0C92F;
	font-size: 11px;
	font-weight: normal;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
	background: rgba(0, 0, 0, 0.7);
	border-radius: 2px;
	box-sizing: border-box;
	border-bottom: 1px solid transparent;
	transition-property: background, box-shadow;
	transition-duration: 0.3s;
	z-index: 9999;
}

.basemap{
	    text-align: left;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
    background: rgba(255, 255, 255, 1);
    border-radius: 2px;
    /* display: none; */
    position: absolute;
    right: 10px;
    top: 120px;
    height: 345px;   /*  543px; */
    width: 250px;
    z-index: 3;
}

.baseglycls {
    font-size: 12px;
    font-family: verdana;
}